<!-- Page Contents -->
<div class="pusher">
  <div class="ui inverted vertical masthead center aligned segment teal-pattern-stripes">
    <points></points>
    <div class="ui text container">
      <h1 class="ui inverted shadow-heading">
        Quizle
      </h1>
      <h5 class="sub-heading">If you can raed tihs tehn you are qulaiefid to do this qiuz.</h5>
      <a class="ui huge yellow button" [routerLink]="['Choose']">Start quizin!</a>
    </div>
  </div>
  <achievements></achievements>
  <quiz-team></quiz-team>
  <div class="ui vertical stripe segment light-pattern">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="sixteen wide column">
          <h3>How it works</h3>
        </div>
      </div>
      <div class="row">
        <div class="sixteen wide column">
          <div class="video">
            <div class="video-wrapper">
              <iframe src="http://www.youtube.com/embed/21LeyrAM2xs?showinfo=0&iv_load_policy=3&controls=0" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="ui vertical segment yellow-pattern">
    <div class="ui text container">
      <h3>How it works</h3>
      <div class="video">
        <div class="video-wrapper">
          <iframe src="http://www.youtube.com/embed/21LeyrAM2xs?showinfo=0&iv_load_policy=3&controls=0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div> -->
</div>
<footer></footer>
